$gray: #cdcdcd;
$pink: #f1cdb3;

.container-donation {
  width: 100%;
  background-color: #f6f6f6;
  // padding: 65px 0px;
  @media screen and (max-width: 768px) {
    padding-top: 70px;
  }
  @media screen and (max-width: 480px) {
    padding: 42px 15px;
  }
  .wrapper-donation {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    gap: 30px;
    height: auto;
    margin: 0 auto;

    @media screen and (max-width: 1279px) {
      flex-direction: column;

      gap: 60px;
    }
    @media screen and (max-width: 925px) {
      gap: 0px;
    }
    @media screen and (max-width: 880px) {
      flex-direction: column;

      gap: 60px;
    }
    @media screen and (max-width: 480px) {
      gap: 40px;
    }
    .donation-image {
      max-width: 505px;
      height: auto;
      margin-top: 65px;
      @media screen and (max-width: 768px) {
        margin-top: 0px;
      }
      @media screen and (max-width: 880px) {
        width: 100%;
      }
      @media screen and (max-width: 480px) {
        max-width: 260px;
        height: auto;
      }
    }
    .container-data {
      max-width: 380px;
      height: auto;
      margin-top: 60px;
      @media screen and (max-width: 1279px) {
        order: -1;
      }
      @media screen and (max-width: 768px) {
        margin-top: 70px;
      }
      @media screen and (max-width: 767px) {
        margin-top: 0px;
      }
      h3 {
        margin-top: -10px;
        @media screen and (max-width: 768px) {
          margin-top: 0px;
        }
        @media screen and (max-width: 767px) {
          text-align: center;
          // margin-top: 0;
        }
        @media screen and (max-width: 480px) {
          margin-top: 0px;
          //styleName: h3-mobile;
          font-family: Georgia;
          font-size: 25px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px;
          letter-spacing: 0.06em;
          text-align: center;
        }
      }
      h5 {
        margin: 20px 0px 20px 0px;
        font-family: Georgia;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0.06em;
        text-align: left;
        @media screen and (max-width: 767px) {
          text-align: center;
        }
        @media screen and (max-width: 480px) {
          font-family: Georgia;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0px;
          text-align: center;
          margin-bottom: 20px;
        }
      }
      .container-credit__card {
        @media screen and (max-width: 480px) {
          width: 281px;
        }
        .wrapper-card {
          display: flex;
          max-width: 350px;
          justify-content: space-between;
          align-items: center;
          margin-top: 20px;
          margin-bottom: 20px;
          padding: 10px 15px;
          height: 43px;
          background-color: $pink;
          border-radius: 9px;
          box-sizing: border-box;
          @media screen and (max-width: 768px) {
            margin-top: -5px;
          }
          @media screen and (max-width: 767px) {
            margin: 0 auto;
            margin-bottom: 20px;
          }
          @media screen and (max-width: 480px) {
            margin-bottom: 20px;
          }
          img {
            width: 30px;
            height: 23px;
          }
          a {
            //styleName: h4;
            font-family: Georgia;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: 0.06em;
            text-align: left;
            color: #292929;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
              opacity: 0.7;
            }
            @media screen and (max-width: 480px) {
              //styleName: h5;
              font-family: Georgia;
              font-size: 15px;
              font-style: normal;
              font-weight: 400;
              line-height: 17px;
              letter-spacing: 0.06em;
              text-align: left;
            }
          }
        }
        p {
          font-family: Arial;
          font-size: 12px;
          font-style: italic;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0px;
          text-align: left;
          @media screen and (max-width: 767px) {
            text-align: justify;
          }
          @media screen and (max-width: 480px) {
            font-family: Arial;
            font-size: 12px;
            font-style: italic;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0px;
            text-align: justify;
          }
        }
      }
    }
  }
}
